<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid navbar-main">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {{bind-attr class="isProject:active"}}>{{#link-to 'projects'}}Project{{/link-to}}</li>
                <li {{bind-attr class="isSpreadsheet:active"}}>{{#link-to 'spreadsheet' 'before'}}Spreadsheets{{/link-to}}</li>
                <li {{bind-attr class="isGlobal:active"}}><a href="#">Global Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid navbar-sub">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
            {{#if isSpreadsheet}}
                <li><a href="#"><i class="subicon icon-export"></i> Export to Excel</a></li>
                <li><a href="#"><i class="subicon icon-copy"></i> Copy</a></li>
                <li><a href="#"><i class="subicon icon-cut"></i> Cut</a></li>
                <li><a href="#"><i class="subicon icon-paste"></i> Paste</a></li>
                <li><a href="#"><i class="subicon icon-sort"></i> Sort</a></li>
                <li><a href="#"><i class="subicon icon-supress"></i> Supress</a></li>
            {{else}}
                <li><a href="#"><i class="glyphicon glyphicon-file"></i> New </a></li>
                <li><a href="#"><i class="glyphicon glyphicon-hdd"></i> Save</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-export"></i> Export</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-share"></i> Share</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-large"></i> View <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="glyphicon glyphicon-th-large"></i> Tiles</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-filter"></i> Filter</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-stats"></i> Columns</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-align-justify"></i> Rows</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-th-list"></i> Slices</a></li>
                    </ul>
                </li>
            {{/if}}
            </ul>
            <form class="navbar-form navbar-right" role="search">
                {{#link-to 'spreadsheet' 'after' class="btn btn-warning btn-xs"}}Execute{{/link-to}}
            </form>
            <ul class="nav navbar-nav navbar-right">
            {{#if isSpreadsheet}}
                <li><a href="#">Apply significance test</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-inbox"></i> Change order</a></li>
            {{else}}
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Tabulation settings</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-inbox"></i> My Projects</a></li>
            {{/if}}
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <div class="tab active">Car satisfaction</div>
        <div class="tab">Project name 02</div>
        <div class="tab">Project name 03</div>
    </div>
</nav>
{{outlet}}
